@import url(tooltip.css);
/* line 14, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 6 */
html {
  background: #eeeeee;
}

/* line 9 */
body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background: #eeeeee;
  color: #333333;
}

/* line 17 */
#todoapp {
  width: 520px;
  margin: 0 auto 40px auto;
  background: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 24 */
#todoapp .title h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 30px 0 10px 0;
  line-height: 1;
}
/* line 30 */
#todoapp .content {
  padding: 20px;
}
/* line 32 */
#todoapp .content #create-todo {
  position: relative;
}
/* line 34 */
#todoapp .content #create-todo input {
  width: 466px;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}
/* line 45 */
#todoapp .content #create-todo input::-webkit-input-placeholder {
  font-style: italic;
}
/* line 47 */
#todoapp .content #create-todo span {
  position: absolute;
  z-index: 999;
  width: 170px;
  left: 50%;
  margin-left: -85px;
  opacity: 0;
}
/* line 55 */
#todoapp .content ul#todo-list {
  margin-top: 10px;
}
/* line 57 */
#todoapp .content ul#todo-list li {
  padding: 15px 20px 15px 0;
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #cccccc;
  *zoom: 1;
  cursor: move;
}
/* line 22, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#todoapp .content ul#todo-list li:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 64 */
#todoapp .content ul#todo-list li.editing {
  padding: 0;
  border-bottom: 0;
}
/* line 67 */
#todoapp .content ul#todo-list li.editing .todo-input {
  display: block;
  width: 466px;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999999;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset;
}
/* line 79 */
#todoapp .content ul#todo-list li.editing .todo-content {
  display: none;
}
/* line 81 */
#todoapp .content ul#todo-list li.editing .todo-check {
  display: none;
}
/* line 83 */
#todoapp .content ul#todo-list li.editing .todo-destroy {
  display: none !important;
}
/* line 85 */
#todoapp .content ul#todo-list li .todo-input {
  display: none;
}
/* line 87 */
#todoapp .content ul#todo-list li .todo-check {
  position: relative;
  top: 6px;
  margin: 0 10px 0 7px;
  float: left;
}
/* line 93 */
#todoapp .content ul#todo-list li.done .todo-content {
  text-decoration: line-through;
  color: #777777;
}
/* line 96 */
#todoapp .content ul#todo-list li .todo-destroy {
  position: absolute;
  right: 0px;
  top: 16px;
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url(/images/destroy.png) no-repeat center center;
}
/* line 106 */
#todoapp .content ul#todo-list li:hover .todo-destroy {
  display: block;
}
/* line 109 */
#todoapp #todo-stats {
  *zoom: 1;
  margin-top: 10px;
  color: #555555;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -o-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -khtml-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -o-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -khtml-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background: #f4fce8;
  border-top: 1px solid #ededed;
  padding: 0 20px;
  line-height: 36px;
}
/* line 22, /opt/ree/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#todoapp #todo-stats:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
/* line 118 */
#todoapp #todo-stats .todo-count {
  float: left;
}
/* line 120 */
#todoapp #todo-stats .todo-count .number {
  font-weight: bold;
  color: #555555;
}
/* line 123 */
#todoapp #todo-stats .todo-clear {
  float: right;
}
/* line 125 */
#todoapp #todo-stats .todo-clear a {
  display: block;
  line-height: 20px;
  text-decoration: none;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.1);
  color: #555555;
  font-size: 11px;
  margin-top: 8px;
  padding: 0 10px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 0 0;
}
/* line 136 */
#todoapp #todo-stats .todo-clear a:hover {
  background: rgba(0, 0, 0, 0.15);
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0 0;
}
/* line 139 */
#todoapp #todo-stats .todo-clear a:active {
  position: relative;
  top: 1px;
}

/* line 144 */
#instructions {
  width: 520px;
  margin: 10px auto;
  color: #777777;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  text-align: center;
}
/* line 150 */
#instructions li {
  line-height: 2em;
}

/* line 153 */
#credits {
  width: 520px;
  margin: 30px auto;
  color: #999999;
  text-shadow: rgba(255, 255, 255, 0.8) 0 1px 0;
  text-align: center;
}
/* line 159 */
#credits a {
  color: #888888;
}
